@use '../styles/colors.scss' as colors;

.container {
  max-width: fit-content;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.title {
  font-size: 15px;
  color: colors.$gray;
  line-height: 18px;
  margin-bottom: 6px;
  transition: color 0.3s ease;
  text-align: left;
  padding-right: 20px;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.card:hover .title {
  color: colors.$yellow;
}

.card:active .title {
  color: colors.$white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 900px;
}

.card {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.1s ease;
  color: colors.$white;
  margin-bottom: -20px;
}

.date {
  color: colors.$dark-gray;
  margin-top: -8px;
  font-size: 15px;
  transition: color 0.3s ease;
  text-align: left;
}

.card:hover .date {
  color: rgba(colors.$yellow, 0.6);
}

.card:active .date {
  color: rgba(colors.$white, 0.6);
}

.thumbnail {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 10px;
}

.tag {
  color: colors.$gray;
  position: absolute;
  top: 0;
  right: 0;
  transition: color 0.3s ease;
}

.card:hover .tag {
  color: colors.$yellow;
}

.card:active .tag {
  color: colors.$white;
}

.excerpt {
  color: colors.$white;
  margin-top: 14px;
  font-size: 13px;
  line-height: 17px;
  text-align: justify;
}

@media (max-width: 810px) {
  .card {
    padding: 25px;
  }

  .container {
    padding: 0 20px;
  }
}