@use '../styles/colors.scss' as colors;

.container {
  max-width: fit-content;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.title {
  font-size: 13px;
  color: colors.$gray;
  line-height: 18px;
  margin-bottom: 6px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 900px;
}

.card {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s ease;
  color: colors.$white;
  margin-bottom: -20px;
}

.date {
  color: colors.$dark-gray;
  font-size: 13px;
  margin-top: -4px;
}

.thumbnail {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  margin-bottom: 10px;
}

@media (max-width: 810px) {
  .card {
    padding: 25px;
  }
}